main {
    padding-top: 62px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        width: 100%;
        max-width: 744px;
        max-height: 418px;
    }
}

.subtitulo {
    background-color: var(--branco);
    color: var(--azul);
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    margin: 8px 0;
}

.container__categorias {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-flow: row wrap;
    .card__categoria {
        background-color: var(--branco);
        width: 128px;
        height: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 48px;
        a {
            color: var(--azul);
        }
    }
}

.container__produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card_produto {
    border: 1px solid var(--cinza-escuro);

    div {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        font-weight: bold;
        background-color: var(--cinza-claro);
        font-size: 20px;
        a {
            background-color: var(--azul);
            padding: 8px 16px;
            color: var(--branco);
            border-radius: 4px;
            font-size: 24px;
        }
        h3 {
            width: 170px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow:hidden;
        }
    }
    
}

.swiper-slide {
    text-align: center ;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: var(--branco);
}

@media (width >= 744px) {
    
}



